{% extends 'base.html' %}
{% block container %}
<div class="text-center">
    <img src="https://www.freepngimg.com/thumb/bitcoin/63398-cryptocurrency-ethereum-blockchain-bitcoin-altcoins-hq-image-free-png.png" alt="" style="width: 100%; height: 100%;">
</div>
<br>
<div style="text-align: justify;">
<h1>Welcome</h1>
<p class="small">Welcome to our platform! Here, you can access your very own Bitcoin wallet, allowing you to keep track of your Bitcoin balance in real-time. We provide you with a secure and easy way to manage your Bitcoin assets. Whether you're a seasoned cryptocurrency enthusiast or just getting started, our platform offers a user-friendly experience for keeping an eye on the live amount of your Bitcoin holdings. Create your wallet, log in, and explore the world of Bitcoin with us!"
</p>
</div>
<br>
<div style="text-align: justify;">
<h1>Key Features:</h1>
<ul>
    <li><b>BTC Wallet Management</b></li>
    <p>Our platform allows you to create and manage your Bitcoin wallet with ease. You can generate a new wallet, view your wallet's balance in real-time, and access wallet details.</p>
    <li><b>Live BTC Balance</b></li>
    <p>Stay updated with the live balance of your Bitcoin holdings. Our platform connects to the Bitcoin blockchain to provide you with accurate and up-to-date information.</p>
    <li><b>Cryptocurrency Insights</b></li>
    <p>Explore the world of cryptocurrencies beyond Bitcoin. You can access the latest prices and market data for the top 5 cryptocurrencies in USD.</p>
    <li><b>User-Friendly Interface</b></li>
    <p>We've designed our platform with user-friendliness in mind. Navigating through your wallet and accessing cryptocurrency data is simple and intuitive.</p>
    <li><b>Account Management</b></li>
    <p>You can easily manage your account, including logging in and out, viewing wallet details, and even deleting your account if needed.</p>
</ul><br>
</div>
<div style="text-align: justify;">
<small><b>Please note that while we take security seriously, it's essential for users to also take responsibility for safeguarding their private keys and following best practices for securing their cryptocurrency assets. Always be cautious and informed when dealing with cryptocurrencies.</b></small>
</div>
{% endblock %}
